/*aside*/
#aside {
    width: 300px;
    height: 100%;
    margin-right: 50px;
  }
  #aside h3 {
    width: 100%;
    line-height: 60px;
    border-bottom:1px solid rgb(153, 153, 153);
  }
  #aside ul {
  
  }
  #aside ul li {
    display: flex;
    justify-content: space-between;
    line-height:45px;
  }
  #aside ul li span{
    color:var(--main-color);
  }
  /* aside  끝*/