#article-main-wrap {
  padding-top: 64px;
    margin-bottom: 32px;
}
#article-main-wrap main {
  width: 840px;
  margin: 0 auto;
}

.replyInsert.visible {
    display: block;
}

.replyInsert {
    display: none;
}

.article-container{
    position: relative;
}
.article-category {
    margin:28px 0;
    position: relative;
}
.article-category h2{
    margin-left:30px;
}
.article-category a {
    position:relative;
    font-size: 24px;
    text-align: center;
    position:relative;
    background:#fff;
    padding:0 10px;
    color: var(--tag-color);
    z-index: 2;
}

.article-category::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: var(--tag-color);
  z-index: 1;
}
.article-user-info{
    display: flex;
    
}
.article-user-info .profile a{
    display: block;
}
.article-user-info .profile img{
    width:80px;
    height:80px;
    display: block;
    background:rgb(255, 255, 215);
    border-radius: 50%;
}
.article-user-info > div{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-left:10px;
}
.article-user-info > div > a{
    color:var(--tag-color);
}
.article-user-info > div > a:hover{
    color:var(--main-color);
}
.article-user-info > div span{
    color:var(--tag-color);
}
.article-title{
    margin:32px 0;
    font-size:42px;
}
.article-content{
    margin-bottom: 32px;
    color:var(--tag-color);
}
.article-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article-bottom .tag-wrap{
    display: flex;
    flex-wrap:wrap;
}
.article-bottom .tag-wrap a{
    margin:2px 5px;
}
.article-bottom .tag-wrap a:hoveR{
    color:var(--main-color);
}
.article-bottom .tag-wrap a::before{
    content:"#";
}
.article-bottom .tag-wrap .tag{
    background:var(--tag-bg-color);
    color:var(--tag-color);
    font-size: 15px;
    border-radius: 12px;
    padding:5px;
}

.btn-like{
    display: flex;
    margin-right:10px;
}
.btn-like button{
    color:var(--tag-color);
    font-size: 12px;
}
.btn-like button:hover{
    border-color:var(--footer-color);
}
.btn-like .btn-left{
    border:1px solid var(--light-gray-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width:34px;
    height:38px;
    cursor: pointer;
}
.btn-like .btn-left:hover{
    color:red;
}
.btn-like .like-cnt{
    border-top:1px solid var(--light-gray-color);
    border-bottom:1px solid var(--light-gray-color);
    padding:0 15px;
    height:38px;
    line-height: 38px;
} 
.btn-like .btn-right{
    border:1px solid var(--light-gray-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width:34px;
    height:38px;
    cursor: pointer;
}
.btn-like .btn-right:hover{
    color:rgb(0, 208, 255);
}

/* --------수정 삭제 버튼--------- */
.btn-update-delete-wrap{
    position: absolute;
    top:0;
    right:0;
}
.btn-update-delete-wrap .btn-ellipsis{
    color:var(--footer-color);
    font-size:18px;
    padding: 3px;
    cursor: pointer;
}
.btn-update-delete-wrap .btn-ellipsis:hover{
    color:var(--main-color);
}
.btn-update-delete-wrap .btn-toggle{
    padding:5px 0;
    position: absolute;
    border: 1px solid var(--light-gray-color);
    transform:translateX(calc(-100% + 21px ));
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow :5px 5px 5px -5px rgb(174, 174, 174);
}
.btn-update-delete-wrap .off{
    display: none;
}
.btn-toggle > a{
    width:100px;
    margin:8px;
    text-align: center;
    color:var(--tag-color);
}
.btn-toggle > a:hover{
    color:var(--main-color);
}

.btn-toggle > a > i{
    margin-right:5px;
}
.articleForm {
    margin-top: 2rem;
    display: flex;
    /*border: 2px solid #F00;*/
    justify-content: space-around;
    align-content: center;
}
.submitBtn {
}
.textContent {
    border: 1px solid #000;
    border-radius: 0.5rem;
}
.replyComment {
    border-top: 1px solid #F00;
    width: 100%;
    height: 100px;
}
