 body {
   width: 100%;
   height: 1500px;
 }

 /*----------------------------------------로고--------------------------------------------*/
 #headerWrap {
   width: 448px;
   height: 670px;
   position: relative;
   margin: 0 auto;
   top: 150px;
 }

 #headerWrap .logo {
   margin-left: auto;
   width: 65px;
   max-width: 100%;
   margin-right: auto;
   vertical-align: middle;
   display: block;
 }

 #headerWrap h2 {
   margin-top: 20px;
   font-weight: 700;
   font-size: 28px;
   text-align: center;
   letter-spacing: -1px
 }

 #headerWrap .Explanation {
   text-align: center;
   margin-top: 12px;
   font-size: 13px;
   color: #a3a4a7;
   margin-bottom: 30px;
 }

 /*--------------------------------------SNS로그인-----------------------------------------------*/
 #headerWrap .SNSlogin>span {
   color: #222;
   font-size: 13px;
 }

 div.SNSimages {
   width: 450px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 9px;
   margin-top: 10px;
 }

 div.SNSimages>a {
   border: 1px solid #d9d9db;
   width: 142px;
   height: 38px;
   border-radius: 8px;
 }

 div.SNSimages svg {
   margin-left: 57px;
   margin-top: 5px;
   width: 24px;
   height: 26px;

 }

 div.SNSimages .im1 {
   background: url(../img/capgher.PNG);
 }

 div.SNSimages .im2 {
   background: url(../img/capgher2.PNG);
 }

 div.SNSimages .im3 {
   background: url(../img/capgher3.PNG);
 }

 div.SNSimages .im4 {
   background: url(../img/capgher4.PNG);
 }

 div.SNSimages .im5 {
   background: url(../img/capgher5.PNG);
 }

 /* ---------------------------------------회원가입정보---------------------------------------------*/
 #signUptitle {
   margin-top: 20px;
   position: relative;
   text-align: center;
   display: inline-block;
   width: 450px;
 }

 #signUptitle span {
   font-size: 13px;
   color: #a3a4a7;
 }

 #signUptitle span::after {
   position: absolute;
   top: 12px;
   left: 0;
   display: block;
   content: "";
   height: 1px;
   width: 95px;
   background-color: #a3a4a7;
 }

 #signUptitle span::before {
   position: absolute;
   display: block;
   content: "";
   top: 12px;
   right: 0;
   height: 1px;
   width: 95px;
   background-color: #a3a4a7;
 }

 #lnformation {
   margin-top: 30px;
 }

 #lnformation label {
   display: block;
   font-size: 13px;
   color: #8b8c8d;
 }

 #lnformation .box {
   width: 448px;
   height: 42px;
   border-radius: 8px;
   border: 1px solid #d9d9db;
   margin-top: 8px;
   box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
   font-size: 16px;
   padding-left: 15px;
 }

 #lnformation .ebox {
   width: 344px;
   height: 42px;
   border-radius: 8px;
   border: 1px solid #d9d9db;
   margin-top: 8px;
   box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
   font-size: 16px;
   padding-left: 15px;
 }

 #lnformation .pwbox {
   margin-top: 25px;
 }

 #lnformation .pwConfirm {
   margin-top: 25px;
 }

 #lnformation .emaillabel {
   margin-top: 25px;
 }

 #lnformation .name {
   margin-top: 25px;
 }

 #lnformation .nickname {
   margin-top: 25px;
 }

 #lnformation .phoneNumber {
   margin-top: 25px;
 }
 #lnformation .CertificationNumber {
  margin-top: 25px;
}
 .boxbundle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }

 #lnformation #phoneinfo {
   margin-top: 12px;
   width: 340px;
   display: flex;
   border: 1px solid #d9d9db;
   border-radius: 8px;
   box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
 }
 #lnformation #phoneinfo * {
   height: 42px;
   border-radius: 8px;
   font-size: 14px;
   border: unset;
   outline: none;
 }

 #lnformation select {
   width: 20%;
   height: 42px;
   border-right: 1px solid #888888;
   border-radius: 0%;
 }

 #lnformation .phoneBox {
   width: 80%;
   padding: 0 8px;
 }
 #lnformation .certification {
  width: 100px;
  height: 43px;
  border-radius: 8px;
  border: 1px solid var(--main-color);
  margin-top: 12px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 15px;
}
 .CNbox {display: flex;}
 .CNumber {
  width: 340px;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #d9d9db;
  margin-top: 8px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  font-size: 16px;
  padding-left: 15px;
 }
 .CNConfirm {
  width: 100px;
  height: 43px;
  border-radius: 8px;
  border: 1px solid var(--main-color);
  margin-top: 8px;
  margin-left: 8px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 15px;
 }



 /* -------------------------------이메일수신 동의 및 가입-----------------------------------------------*/
 .email {
   display: flex;
   margin-top: 30px;
 }

 .email .emailtext {
   font-size: 13px;
   color: #2b2c2c;
   width: 500px;
 }

 /* .toggleSwitch {
                width: 60px;
                height: 25px;
                display: block;
                position: relative;
                border-radius: 80px;
                background-color: #fff;
                box-shadow: 0 0 1rem 1px rgba(0 0 0 / 15%);
                cursor: pointer;
                margin-top: -5px;
                  }
                  
.toggleSwitch .toggleButton {
                width: 23px;
                height: 23px;
                position: absolute;
                top: 50%;
                left: 2px;
                transform: translateY(-50%);
                    border-radius: 50%;
                    background: #f03d3d;
                            }
 #toggle:checked~.toggleSwitch {
   background: #f03d3d;
 }

 #toggle:checked~.toggleSwitch .toggleButton {
   left: calc(100% - 24px);
   background: #fff;
 }

 .toggleSwitch,
 .toggleButton {
   transition: all 0.2s ease-in;
 }*/
#emailReceive { accent-color: var(--main-color);
                width: 30px; top: 30px; 
                border-radius: 8px;
                border: 1px solid black;
}
 #lnformation .submit {
   width: 448px;
   height: 42px;
   border-radius: 8px;
   border: 1px solid var(--main-color);
   margin-top: 23px;
   background-color: var(--main-color);
   color: #fff;
   font-size: 15px;
 }

 .emailbox>p {
   text-align: left;
   font-size: 13px;
   color: #8b8c8d;
   margin-top: 15px;
 }

 #lnformation .loginbox {
   font-size: 13px;
   color: #8b8c8d;
   margin-top: 25px;
   margin-left: 145px;
   margin-right: 145px;
 }

 #lnformation .loginbox>a {
   margin-left: 5px;
   color: #5ba4f8;
   text-decoration: underline;

 }